/* .myBrd-radius{
    background-color: rgb(213, 243, 213); 
    border-top-right-radius: 3em; width: 500px; 
    border-bottom-left-radius: 3em; width: 500px; 
    padding: 10px;
    border: .2px solid green;
} */